@use "sass:map";

//- Dark Gray: hsl(0, 0%, 63%)
//- Black: hsl(0, 0%, 0%)
//- White: hsl(0, 0%, 100%)
//- Very Dark Gray: hsl(0, 0%, 27%)



$col1: hsl(0, 0%, 63%);
$col2: hsl(0, 0%, 0%);
$col3: hsl(0, 0%, 100%);
$col4:hsl(0, 0%, 27%);


